<nav class="container">
  <div class="content">
      <ul>
        <h3 class="nav-item">
          <a class="nav-link" routerLink="/">Favorites</a>
        </h3>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inbox">Inbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sent items">Sent items</a>
        </li>
      </ul>
      <ul><h3>John</h3>
        <li>inbox</li>
        <li>Drafts</li>
        <li>Deleted items</li>
        <li>sent items</li>
        <li>Outbox</li>
      </ul>
  </div>
</nav>
<section>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
