<div class="row">
  <div class="" *ngFor="let p of products">
    <div class="card">
      <a routerLink="/product/{{p.id}}">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
          </svg>
        </div>
        <div class="card-body">
          <h3>{{p.name}}</h3>
          <h5>{{p["email"]}}</h5>
          <h4>{{p.qty}}</h4>
        </div>
      </a>
    </div>
  </div>
</div>

